#dispense-log .ui.pagination.menu {
  border: none;
  box-shadow: none;
  background-color: rgb(249, 250, 251);
}

#dispense-log .ui.menu .item:before {
  width: 0;
}

#dispense-log .ui.pagination.menu .active.item {
  background-color: rgba(29, 62, 102, 0.5);
  border-radius: 50%;
}

/* modal css */
#dispense-info span.header {
  display: inline-block;
  width: 200px;
}

#dispense-info textarea {
  width: 100%;
}

#dispense-info table {
  width: 100%;
  border-collapse: collapse;
}

#dispense-info table tr {
  vertical-align: top;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

#dispense-info table td {
  padding: 10px 0;
}