/* .info-modal span.header {
    display: inline-block;
    width: 200px;
    vertical-align: top;
} */

.info-modal tbody tr td:last-child > div {
    display: flex;
    flex-wrap: wrap;
}

.info-modal tbody tr td:last-child > div > * {
    flex: 1 1 50%;
}

.info-modal textarea {
    width: 100%;
}

.info-modal table {
    width: 100%;
    border-collapse: collapse;
}

.info-modal table tr {
    vertical-align: top;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.info-modal table td {
    padding: 10px 0;
}

/* .info-modal .ui.input, .ui.selection {
    width: calc(100% - 200px);
} */

.info-modal table td div {
    margin-bottom: 1px;
}

@media only screen and (max-width: 767px) {
    .info-modal tbody tr td:last-child > div > * {
        flex-basis: 100%;
    }
}