.info-modal span.header {
    display: inline-block;
    width: 200px;
}

.info-modal textarea {
    width: 100%;
}

.info-modal table {
    width: 100%;
    border-collapse: collapse;
}

.info-modal table tr {
    vertical-align: top;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.info-modal table td {
    padding: 10px 0;
}

.info-modal .ui.input, .ui.selection {
    width: calc(100% - 200px);
    /* height: 20px;
    min-height: 20px; */
}

.info-modal table td div {
    margin-bottom: 4px;
}