.manage-tab {
  /* min-height: 500px; */
}

.manage-tab .ui.list .content {
  display: table-cell;
  width: 100%;
}

.manage-tab .ui.list .content .ui.input {
  width: 95%;
  height: 1em;
}

.manage-tab .ui.list i {
  /* float: right; */
  cursor: pointer;
}

.manage-tab h2 {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.manage-tab .controls {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
}

.manage-tab .controls .ui.input {
  flex: 4 1 0;
}

.manage-tab .controls .ui.button {
  flex: 1 1 0;
  background-color: rgb(29, 62, 102);
  color: white;
  margin: 0;
}

.manage-tab .controls .ui.input input {
  background-color: #dde0e8;
}

.manage-tab .controls .ui.input ::placeholder {
  color: grey;
}

.manage-tab .ui.list {
  margin-top: 2rem;
  max-height: 40em;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  .manage-tab {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 500px) {
  #manage-dropdowns > .ui.segment .ui.grid > div:first-child {
    padding: 1px;
  }

  #manage-dropdowns > .ui.segment .ui.grid > div:first-child > .ui.menu > a {
    font-size: 0.9em;
  }
}