#manage-new-users .user-controls {
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
}

#manage-new-users .user-controls span {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
#manage-new-users .user-controls span:nth-child(1) {
    color: rgb(29, 62, 102);
}
#manage-new-users .user-controls span:nth-child(2) {
    color: rgb(219, 40, 40);
}

#manage-new-users .manage-user-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#manage-new-users h2 {
    margin: 0;
}

#manage-new-users .manage-user-header .ui.input {
    height: 2em;
}

#manage-new-users .csv-segment {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

#manage-new-users .csv-segment span {
    cursor: pointer;
    text-decoration: underline;
}
#manage-new-users .csv-segment > div > span {
    color: #2185d0;
}
#manage-new-users .csv-segment > span {
    color: #21ba45;
}

#manage-new-users .csv-segment > div {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

/* Manage Users css */

#manage-users .manage-user-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#manage-users h2 {
    margin: 0;
}

#manage-users .ui.input {
    height: 2em;
}

#manage-users .delete-user {
    cursor: pointer;
    text-decoration: underline;
    /* font-weight: bold; */
}

#manage-users .ui.inline.dropdown > .text {
    font-weight: initial;
}

#manage-users .ui.segments .ui.segment:last-child, #manage-new-users .ui.segments .ui.segment:last-child {
    min-height: 25em;
}

#manage-users table tbody,
#manage-new-users table tbody {
    max-height: 40em;
    overflow-y: auto;
}