#sign-out {
  background-image: url('../images/logout.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  font-size: 1rem;
}

#sign-out h1 {
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 2px #738169;
  padding-top: 2em;
}

#sign-out h2 {
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 2px #738169;
  font-style: italic;
}

#sign-out .controls {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 5em;
}

#sign-out .controls > * {
  flex-basis: 10em;
  /* flex-grow: 1; */
}

/* phones */
@media only screen and (max-width: 767px) {
  #sign-out {
      font-size: 0.5rem;
  }

  #sign-out .controls > * {
    flex-grow: 1;
  }
}