#sign-in {
  font-size: 1rem;
  overflow: auto;
}

#sign-in h1 {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 5em;
}

#sign-in h2 {
  color: white;
  text-shadow: 1px 1px black;
}

#sign-in h3 {
  color: white;
  text-align: center;
}

#sign-in a {
  color: deepskyblue;
  text-decoration: underline;
}

#sign-in .stethoscope.icon {
  color: white;
  font-size: 5em;
  margin: 0 auto;
  width: 100%;
  text-shadow: 1px 1px black;
}

#sign-in .ui.form {
  background-color: white;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  box-shadow: 10px 10px #5b825a;
  position: relative;
}

#sign-in .ui.form input {
  background-color: #dde0e8;
}

#sign-in .ui.form .ui.button {
  position: absolute;
  bottom: -20px;
  right: -10%;
  border-radius: 500rem;
  background-color: white;
  border: 1px solid gray;
  color: black;
  padding: 1.2em 3.6em;
}

#sign-in .flex-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30vh;
}

#sign-in .flex-div > * {
  flex-basis: 10em;
  flex-grow: 1;
}

/* phones */
@media only screen and (max-width: 767px) {
  #sign-in {
      font-size: 0.5rem;
  }

  #sign-in .stethoscope.icon {
    display: none;
  }
}