/* GLOBAL CSS ONLY */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
 
body {
  background-color: #c1d9b1 !important;
}

* {
  box-sizing: border-box;
}

#root > *:nth-child(2) {
  min-height: calc(100vh - 230px); /* nav + footer = 230 */
}